<section aria-labelledby="currentWeatherTitle">
  <h3 id="currentWeatherTitle" class="h5 mb-3">
    Clima actual
  </h3>

  <div class="row g-3 mb-4">
    <div class="col-6 col-md-4">
      <i class="bi bi-thermometer-half"></i> {{ location().temp }} °C
    </div>
    <div class="col-6 col-md-4">
      <i class="bi bi-thermometer-half"></i>Sensación: {{ location().app_temp }} °C
    </div>
    <div class="col-6 col-md-4">
      <i class="bi bi-moisture"></i> Humedad: {{ location().rh }} %
    </div>
    <div class="col-6 col-md-4">
      <i class="bi bi-wind"></i> Viento: {{ location().wind_spd }} m/s
    </div>
    <div class="col-6 col-md-4">
      <img width="32" height="32" [src]="'https://www.weatherbit.io/static/img/icons/' + location().weather.icon + '.png'" [alt]="location().weather.description"/> {{ location().weather.description }}
    </div>
  </div>
</section>
<section aria-labelledby="forecastTitle">
  <h3 id="forecastTitle" class="h5 mb-3">
    Pronóstico 5 días
  </h3>

  <div class="row g-3">
    @for (day of forecast(); track day.datetime) {
      <div class="col-12 col-sm-6 col-md-4 col-lg">
        <div class="border rounded p-2 text-center h-100">
          <strong>{{ day.datetime }}</strong>

          <div class="my-2">
            <img
              [src]="'https://www.weatherbit.io/static/img/icons/' + day.weather.icon + '.png'"
              [alt]="day.weather.description"
            />
          </div>

          <div>{{ day.temp }} °C</div>
          <small class="text-muted">
            {{ day.weather.description }}
          </small>
        </div>
      </div>
    }
  </div>
</section>