.nav-tabs .nav-link {
  cursor: pointer;
}

.nav-tabs .nav-link .btn-close {
  font-size: 0.6rem;
}

.nav-tabs .nav-link:not(.active) {
  color: #495057;
}

.nav-tabs .nav-link.active {
  font-weight: 600;
}

.tab-content {
  background-color: #fff;
  border: none !important;
}